:root {
    --primary: #0d1b2a; /* global scope */
    --secondary: #108981;
    --light-background: #f1f8f9;
    --section-background: #ecfdf5;
    --light-button: #81dea0;
    --paragraph: #647488;

}

body {
    font-family: 'Poppins', 'Roboto', Arial, sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    color: white;
    height: 25px;
    padding: 20px 50px;
}

.header-items {
    display: flex;
    gap: 20px;
}

.header-item-active {
    border-bottom: 2px solid var(--secondary);
    font-weight: bold;
}

.fa-leaf {
    color: var(--secondary);
    margin-top: 2px;
}

.description {
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;
    background-color: var(--section-background);
}

.description .left-content {
    margin-left: 125px;
}

.welcome {
    background-color: var(--light-button);
    display: inline-block;
    border-radius: 10px;
    color: var(--secondary);
    font-size: 12px;
    padding: 3px 10px;
}

button {
    padding: 10px;
    border-radius: 4px;
    font-family: 'Poppins', 'Roboto', Arial, sans-serif;
}

.button_getting_started {
    color: white;
    background-color: var(--light-button);
    border-style: none;
    width: 120px;
}

.button_learn_more {
    color: green;
    background-color: white;
    border: 2px solid var(--light-button);
    margin-left: 20px;
    width: 120px;
}

.title {
    font-family: 'Poppins', 'Roboto', Arial, sans-serif;
    font-size: 20px;
}

.title h1 {
    margin: 0
}

.service {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.service h2 {
    display: block;
    /*TODO: what is auto? why this works? why is width important?*/
    margin: 0 auto;
}
.arrow {
    margin-top: 10px;
    width: 30px;
    border-top: 2px solid var(--secondary);
}
.card-items {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.card {
    font-family: 'Poppins', 'Roboto', Arial, sans-serif;
    margin-top: 10px;
    border: 1px solid #e2e8f0;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    width: 200px;
}
.fa-solid {
    font-size: 30px;
    background-color: var(--section-background);
    color: var(--secondary);
    border-radius: 30px;
    padding: 15px;
}
.part2 {
    padding: 30px 80px;
    background-color: var(--light-background);
}
.aboutus .left-content {
    font-family: 'Poppins', 'Roboto', Arial, sans-serif;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 200px;
}
.mittle {
    background-color: var(--section-background);
    justify-content: space-between;
}
.readmore {
    background-color: rgb(70, 174, 110);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    font-family: 'Poppins', 'Roboto', Arial, sans-serif;
    font-size: 12px;
}
.about {
    border-bottom: 3px solid rgb(70, 174, 110);
    white-space: nowrap;
    width: 45px;
}
.part4 {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    font: var(--paragraph);
    padding: 40px 200px;
    color: rgba(240, 234, 234, 0.61);
    background-color: var(--primary);
    line-height: 10px;
}
.nexoratext {
    font-family: 'Poppins', 'Roboto', Arial, sans-serif;
    display: inline;
    width: 180px;
    line-height: 22px;
}
.nexoratitle {
    color: rgb(70, 174, 110);
    margin: 0px;
    display: flex;
    margin-top: 10px;
}
.specialtitle {
    color: white;
    font-family: 'Poppins', 'Roboto', Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
}
.fa-brands {
    color: white;
    width: 40px;
    font-size: 20px;
}

.contact-us i {
    margin-right: 10px;
    width: 20px;
}
