body {
  margin: 0;
  font-family: 'Inter',sans-serif;
}
.header {
  display: flex;
  background-color: black;
  color: white;
  height: 85px;
  font-size: 12px;
  align-items: center;
  gap: 30px;
  margin: 0;
  justify-content: center;
}
.title {
  display: flex;
  padding: 15px;
  margin-left: 35px;
  font-weight: 600;
  font-size: 25px;
}
.pc {
  color: white;
  font-family: 55px;
}
.verse {
  color: blue; 
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
}

.input {
  display: flex;
  background-color: #0F1115;
  color: #f8fafc;
  margin: 0px;
  border: 1px solid;
  height: 35px;
  border-radius: 4px;
  padding: 10px;
  border-color: #374151; 
  align-items: center; 
  width: 230px;
  font-size: 11px;
  }

.fa-solid {
  padding: 0;
  font-size: 14px;
  color: #f8fafc;
  position: absolute;
  margin-left: 200px;
}
.fa-slab-press {
  font-size: 22px;
}
.shop {
  display: flex;
  align-items: center;
}

.fa-shopping-cart {
 font-size: 22px;
}
.number {
  display: flex;
  background-color: #2563e8;
  font-size: 11px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  justify-content: center;
  margin-top: -13px;
  margin-left: -5px;
}
.fa-chevron-down {
  font-size: 8px;
  position: relative;
  bottom: 1px;
  }
  .text {
    display: flex;
    gap: 30px;
    font-size: 13px;
    margin-left: 210px;
    font-family: 'Poppins', 'Roboto', Arial, sans-serif;
    gap: 7px;
     
  }
